<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml">
<head>

    <!-- Template de base des différentes pages -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" href="../static/css/style.css" type="text/css">#}
{##}
{#    <link rel="stylesheet" href="../static/css/bootstrap.min.css">#}
{##}
{#    <script src="../static/js/jquery-3.6.0.min.js"></script>#}
{#    <script src="../static/js/bootstrap.min.js"></script>#}
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head %}



    {% endblock %}

</head>
<body>
    {% block body %}

    {% endblock %}

</body>
</html>
